{
	"jbuniversal.product.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "0",
				"height": "300",
				"width_popup": "0",
				"height_popup": "0",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		}
	},
	"jbuniversal.product.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "0",
				"height": "0",
				"width_popup": "0",
				"height_popup": "0",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"image2": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all_without_first",
				"template": "popup",
				"group_popup": "1",
				"width": "0",
				"height": "100",
				"width_popup": "0",
				"height_popup": "0",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"meta": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "e449675f-4605-4329-88ca-e8cb25885530"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u0410\u0440\u0442\u0438\u043a\u0443\u043b",
				"template": "default",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ - ]",
				"element": "559ac3fe-5b94-49e2-86ee-69b2981f9ef9"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "list",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"razmeri": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "f8c83169-34c4-4e6a-99db-60c367b7bba1"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "teaser",
				"link_to_item": "1",
				"columns": "4",
				"separated_by": "separator=[ ]",
				"element": "07f7c9ac-f9ed-409a-b0ed-11fd844451ff"
			}
		}
	}
}