{
	"jbuniversal.product.default": {
		"fields": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemtag"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		}
	}
}