{
	"jbuniversal.product.default": {
		"fields": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"jbzoo_filter_render": "_auto_",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"jbzoo_filter_render": "_auto_",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"element": "_itemtag"
			},
			"2": {
				"showlabel": "0",
				"altlabel": "",
				"jbzoo_filter_render": "jbpriceplain",
				"jbprice_filter_template": "default",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		}
	}
}