{
	"jbuniversal.product.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "0",
				"width": "275",
				"height": "275",
				"width_popup": "800",
				"height_popup": "600",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		}
	},
	"jbuniversal.product.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"image": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0420\u043e\u0434\u043d\u044b\u0435 Zoo \u0424\u043e\u0442\u043e",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "6cbbedcf-b6fd-450a-8648-0e399f13662a"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "\u0424\u043e\u0442\u043e JBZoo",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "200",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "57bae4b9-0376-478e-bed1-f3df8c3158c7"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "899d573a-abd2-4758-9452-061e90c2d02d"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "160a5690-d184-4a3a-8421-71ade99bb73a"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "c64de5cc-11d6-45ec-83f5-6ee1518ae2c9"
			}
		}
	},
	"jbuniversal.product.subcategory_item": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"jbuniversal.product.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	}
}